@model TicketingSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section Scripts
{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<h2>@ViewBag.Title.</h2>

<h2>My Account</h2>

<div>
    <div style="display:flex; flex-direction:row;">
        <div>
            <span class="fa fa-user-circle" style="font-size:50px;"></span>
            
        </div>

        <div>
            <h4>Hello!</h4>
        </div>
    </div>

</div>


