@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<p>EasyBus is a reputable one-stop online ticket booking service that enables you to conveniently book bus, 
    train, and ferry tickets at the most competitive costs in Malaysia and Singapore. Whether you want to return to your 
    hometown or are planning a holiday, we are here to make the process simple.</p>
