@{
    ViewBag.Title = "About Us";
}
<h1 style="color:black;">@ViewBag.Title</h1>

<div>
    <div style="display:flex; flex-direction:row; background-image:url('/Content/Images/aboutUsBg.jpg'); height:250px; background-repeat:no-repeat; background-size: 100% 100%;">
        <div style="margin-top:50px; margin-left:20px;">
            <img src="~/Content/Images/EasyBusLogo.png" style="max-height:300px; max-width:300px;"/>
        </div>

        <div style="margin-top:50px;">
            <h1 style="margin-top:-5px; margin-left:30px; color:black; font-size:40px; font-weight:bold;">
                About EasyBus
            </h1>
            <p style="margin-left:30px; margin-top:30px; font-size:15px; color:black; font-family:Arial;">
                EasyBus is a reputable one-stop online ticket booking service that enables you to conveniently book bus at the most competitive costs in Malaysia. Whether you want to return to your
                hometown or are planning a holiday, we are here to make the process simple.
            </p>
        </div>
    </div>
</div>

<div style="margin-top:40px;">
    <h2 style="text-align:center; color:black;">Why Book With Us?</h2>
    <div style="display:flex; flex-direction:row; margin-top:60px;">
        <div style="width: 100px; height: 100px; background-color: #2073f5; border-radius: 50%; margin-left:150px;">
            <img src="~/Content/Images/greatSavingIcon.png" style="max-height:80px; max-width:80px; margin-left:10px; margin-top:20px;" />
            <p style="color:black; font-size:17px; margin-top:35px;">Great Saving</p>
        </div>

        <div style="width: 100px; height: 100px; background-color: #2073f5; border-radius: 50%; margin-left:150px;">
            <img src="~/Content/Images/secureWebsiteIcon.png" style="max-height:80px; max-width:80px; margin-left:16px; margin-top:15px;" />
            <p style="color:black; font-size:17px; margin-top:15px; width:150px; margin-left:-15px;">Secured Website</p>
        </div>


        <div style="width: 100px; height: 100px; background-color: #2073f5; border-radius: 50%; margin-left:150px;">
            <img src="~/Content/Images/customerServiceIcon.png" style="max-height:80px; max-width:80px; margin-left:10px; margin-top:18px;" />
            <p style="color:black; font-size:17px; margin-top:27px; width:200px; margin-left:-52px; text-align:center;">Professional Customer Service</p>
        </div>

        <div style="width: 100px; height: 100px; background-color: #2073f5; border-radius: 50%; margin-left:150px;">
            <img src="~/Content/Images/fasterBookingIcon.png" style="max-height:90px; max-width:90px; margin-left:10px; margin-top:10px;" />
            <p style="color:black; font-size:17px; margin-top:10px; margin-left:-24px; text-align:center; width:150px;">Faster Booking</p>
        </div>

    </div>
</div>

<div style="margin-bottom:0px; margin-top:100px; background-color:#c9dff5; padding-top:20px; padding-bottom:40px; margin-bottom:10px;">
    <h2 style="text-align:center; color:black; padding-top:0px;">How Do We Make It Easy For You?</h2>
    <p style="text-align:center; font-size:15px;color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top:40px; padding-left:15px; padding-right:15px;">
    On our website, you can quickly check the timetable, find out if there are any tickets left, and compare rates. 
    EasyBus, a firm that has sold millions of tickets over the years, is constantly working to develop so we can offer the greatest 
    online booking platform with outstanding usability to add convenience and advantages for our consumers.</p>
</div>

