
@{
    ViewBag.Title = "NotResultsFound";
}

<div style="display:flex; justify-content:center; align-items:center;">
    <img src="~/Content/Images/noResultsFound.png" style="max-height:200px; max-width:200px;" />
</div>

<div>
    <h3>
        Sry, there is no trip available for your selection. @Html.ActionLink("Please try another route/date", "Index", "Home")
    </h3>

</div>

